@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');


body {
    background-color: rgb(69, 134, 106);
}

#headerLogo {
    text-align: center;
    margin-top: -4%;
    position: absolute;
    left: 450px;
}

#contactBox {
    background-color: rgb(43, 110, 81);
    border: 2px solid;
    border-radius: 5%;
    max-width: 196px;
    width: 196px;
    max-height: 130px;
    height: 120px;
    position: absolute;
    left: 525px;
    top: 228px;
    display: none;
}

#contactHeader:hover + #contactBox {
    display: block;
}


#contactHeader {
    border: 2px solid;
    border-radius: 5%;
    padding: 5px;
    cursor: pointer;

}


#contactText {
    font-family: 'Ubuntu', 'Arial';
    text-align: center;
    width: 196px;
    margin-left: -1px;
    margin-top: 20px;
    user-select: none;
}


