@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');


html {
    width: 100%;
    height: 135%;
}

body {
    background-color: rgb(247, 212, 144);
}

#headerLogo {
    text-align: center;
    margin-top: -4%;
    position: relative;
}

#contactBox {
    background-color: rgb(252, 213, 134);
    border: 2px solid;
    border-radius: 5%;
    max-width: 210px;
    width: 210px;
    max-height: 130px;
    height: 120px;
    position: absolute;
    left: 920px;
    top: 128px;
    display: none;
}

#contactHeader:hover + #contactBox {
    display: block;
}

#contactHeader:hover {
    background-color: rgb(233, 198, 129);
}


#contactHeader {
    border: 2px solid;
    border-radius: 5%;
    padding: 5px;
    cursor: help;

}


#contactText {
    display: inline-block;
    font-family: 'Ubuntu', 'Arial';
    text-align: center;
    width: 196px;
    margin-left: 6px;
    margin-top: 20px;
    user-select: none;
}

.linksBar {
    display: inline-block;
    position: absolute;
    background-color: rgb(252, 213, 134);
    border: 2px solid;
    max-width: 600px;
    width: 425px;
    height: 100px;
    top: 50%;
    left: 11%;
}



.linksBarLink {
    position: relative;
    text-decoration: none;
    color: rgb(199, 96, 23);
    font-family: 'Ubuntu', 'Arial';
    display: inline-block;
    margin-left: 10px;
    user-select: none;
}

.linksBarLink::before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    bottom: -3px;
    left: 0;
    background-color: rgb(199, 96, 23);
    transform: scaleX(0);
    transition: transform 0.3s ease;
}



.linksBarLink:hover {
    color: rgb(206, 125, 66);
}

.linksBarLink:hover::before {
    transform: scaleX(1);
}

.specialPromotions {
    display: inline-block;
    position: absolute;
    background-color: rgb(252, 213, 134);
    border: 2px solid;
    max-width: 600px;
    width: 425px;
    height: 100px;
    top: 50%;
    left: 53%;
    border-radius: 3px;
}
a {
    text-decoration: none;
    color: rgb(199, 96, 23);
    font-family: 'Ubuntu';
    user-select: none;
    position: relative;
}

a::before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    bottom: -3px;
    left: 0;
    background-color: rgb(199, 96, 23);
    transform: scaleX(0);
    transition: transform 0.3s ease;
}


a:hover {
    color: rgb(206, 125, 66);
}


a:hover::before {
    transform: scaleX(1);
}


.weather {
    display: inline-block;
    position: absolute;
    background-color: rgb(252, 213, 134);
    border: 2px solid;
    max-width: 600px;
    width: 425px;
    height: 130px;
    top: 450px;
    left: 11%;
    border-radius:3px;
}

p {
    font-family: 'Ubuntu';
}

.foodDiv {
    display: inline-block;
    position: absolute;
    background-color: rgb(252, 213, 134);
    border: 2px solid;
    max-width: 600px;
    width: 425px;
    height: 130px;
    top: 450px;
    left: 53%;
    border-radius:3px;
}


.csmImg {
    position: absolute;
    top: 620px;
    left: 11%;
}