@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');


body {
    background-color: rgb(69, 134, 106);
}

#headerLogo {
    text-align: center;
    margin-top: -4%;
    position: absolute;
    left: 450px;
}

#contactBox {
    background-color: rgb(43, 110, 81);
    border: 2px solid;
    border-radius: 5%;
    max-width: 210px;
    width: 210px;
    max-height: 130px;
    height: 120px;
    position: absolute;
    left: 930px;
    top: 128px;
    display: none;
}

#contactHeader:hover + #contactBox {
    display: block;
}


#contactHeader {
    border: 2px solid;
    border-radius: 5%;
    padding: 5px;
    cursor: pointer;

}


#contactText {
    display: inline-block;
    font-family: 'Ubuntu', 'Arial';
    text-align: center;
    width: 196px;
    margin-left: 6px;
    margin-top: 20px;
    user-select: none;
}

.linksBar {
    display: inline-block;
    position: absolute;
    background-color: rgb(69, 134, 106);
    border: 2px solid;
    max-width: 600px;
    width: 425px;
    height: 100px;
    top: 50%;
    left: 3%;
}

.linksBarLink {
    text-decoration: none;
    color: black;
    font-family: 'Ubuntu', 'Arial';
    display: inline-block;
    margin-left: 10px;
    user-select: none;
}

.linksBarLink:hover {
    color: rgb(59, 59, 59);
    border: 2px;
    border-style: none none solid none;
    animation-name: linkHover ;
    animation-timing-function: 800ms ease-in-out; 
}