@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');


html{
    width: 100%;
    height: 100%;
}
body {
    background-color: rgb(122, 159, 53);
    width: 100%;
    height: 100%;
}

.navDiv {
    background-color: rgb(86, 119, 20);
    width: 90%;
    height: 10%;
    margin-top: 2%;
    margin-left: 5%;
    margin-right: 5%;
    text-align: center;
    font-size: xx-large;
    color: yellow;
}

.leftBar {
    border: 1px solid black;
    box-sizing: border-box;
    background-color: rgb(86, 119, 20);
    width: 25%;
    height: 100%;
    float: left;
}
.centerLeftBar {
    border: 1px solid black;
    box-sizing: border-box;
    background-color: rgb(86, 119, 20);
    width: 25%;
    height: 100%;
    float: left;
}
.centerRightBar {
    border: 1px solid black;
    box-sizing: border-box;
    background-color: rgb(86, 119, 20);
    width: 25%;
    height: 100%;
    float: left;
}

.rightBar {
    border: 1px solid black;
    box-sizing: border-box;
    background-color: rgb(86, 119, 20);
    width: 25%;
    height: 100%;
    float: left;
}

.menuLink {
    text-decoration: none;
    color:black;
    margin-top: 7px;
    display: block;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;

}

.menuLink:hover {
    color: rgb(60, 60, 60);
}